
h1{
    color: hsl(160, 67%, 68%);
    background-color: rgba(45, 79, 230, 0.541);
    text-align: center;
    width:600px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

p {
    color: white ; 
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    max-width:max-content;
    text-align: center;
    width: 1000px;
    height: 60px

}

html{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#google_frame {

    height:600px;width:800px;
    ;
}

#gogoanime_txt{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: yellowgreen;
    width: 1000px;
    height: 10px;

}
.gogo_adv{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: yellowgreen;
}
#gogopara{
    text-align: left;
}

.arrow_down{
    height: 40px;
    width: 40px;
}
.gogo_button{
    background-color:black;
    color:white ;
    height: 40px;
    width: 100px;
    border:rgb(248, 0, 248) ;
    border-width: 10px;
    
}

#jijainth{
    font-family:'Courier New', Courier, monospace;
    color: rgba(248, 248, 248, 0.5);
}